{% extends 'layout/base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}
  <h1>Home page</h1>
  <hr />
  <h2>Main objects</h2>
  <hr />

  <h4>Categories</h4>
  <div>
    <ul>
      {% for category in categories %}
        <li><b>{{ category.name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <h4>Tags</h4>
  <div>
    <ul>
      {% for tag in tags %}
        <li><b>{{ tag.name }}</b></li>
      {% endfor %}
    </ul>
  </div>

  <h4>Items:</h4>
  <div>
    <ul>
      {% for item in items %}
        <li>
          <p>Name: {{ item.name }}</p>
          <p>Category: <i>{{ item.category.name }}</i></p>

          <p> Tags:
            {% for tag in item.tag.all %}
              | <b>{{ tag.name }}</b> |
            {% endfor %}
          </p>

          <p>Comments:
            {% for comment in item.comment_set.all %}
              <span>{{ comment.text }}</span>
            {% endfor %}
          </p>
          <p>Published in: {{ item.creation_date }}</p>
          <p>Last update: {{ item.last_update }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

  <h2>Queries</h2>
  <hr />
  {{ all_items_count }}

{% endblock content %}