{% extends 'layout/base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}Home page{% endblock title %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

  <h3>Home page</h3>
  <hr />
  <h4>Main objects</h4>
  <hr />

<!-- Cache example - caching result of method to get language code for 600 seconds -->
{% with expiration_time=600 %}
  {% cache expiration_time welcome LANGUAGE_CODE %}
    {% translate "Cache example!" %}
  {% endcache %}
{% endwith %}

  <h5>Items:</h5>
  <div>
    <ul>
      {% for item in items %}
        <li>
          <p>Name: {{ item.name }}</p>
          <p>Category: <i>{{ item.category.name }}</i></p>

          <p> Tags:
            {% for tag in item.tag.all %}
              | <b>{{ tag.name }}</b> |
            {% endfor %}
          </p>

          <p>Comments:
            {% for comment in item.comment_set.all %}
              <span>{{ comment.text }}</span>
              <span>{{ comment.user.username }}</span>
            {% endfor %}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>

  <h4>Queries</h4>
  <hr />
  <h5>Recent comment items</h5>
  <p>Shows whether item has comment within 1 day.</p>
  <ul>
    {% for item in recent_comment_items %}
      {% if item.recent_comment %}
        <li>Item {{ item.name }} <b>has</b> recent comment.</li>
      {% else %}
        <li>Item {{ item.name }} <b>doesn't have</b> recent comment.</li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul>
    {% for comment in recent_comments %}
      <li>{{ comment.text }}</li>
    {% endfor %}
  </ul>

{% endblock content %}