{% extends 'layout/base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}Home page{% endblock title %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

  <h3>Home page</h3>
  <hr />
  <h4>Main objects</h4>
  <hr />

<!-- Cache example - caching result of method to get language code for 600 seconds -->
{% with expiration_time=600 %}
  {% cache expiration_time welcome LANGUAGE_CODE %}
    {% translate "Cache example!" %}
  {% endcache %}
{% endwith %}

  <h5>Items:</h5>
  <div>
    <ul>
      {% for item in items %}
        <li>
          <p>Name: {{ item.name }}</p>
          <p>Category: <i>{{ item.category.name }}</i></p>

          <p> Tags:
            {% for tag in item.tag.all %}
              | <b>{{ tag.name }}</b> |
            {% endfor %}
          </p>

          <p>Comments:
            {% for comment in item.comment_set.all %}
              <span>{{ comment.text }}</span>
              <span>{{ comment.user.username }}</span>
            {% endfor %}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>

  <h4>Queries</h4>
  <hr />
  <h5>Recent comment items</h5>
  <p>Shows whether item has comment within 1 day.</p>
  <ul>
    {% for item in recent_comment_items %}
      {% if item.recent_comment %}
        <li>Item {{ item.name }} <b>has</b> recent comment.</li>
      {% else %}
        <li>Item {{ item.name }} <b>doesn't have</b> recent comment.</li>
      {% endif %}
      {% empty %}
        <li>No recent comments.</li>
    {% endfor %}
  </ul>

  <h5>Aggregation</h5>

  <p>Min amount: {{ min_max.min_amount }}</p>
  <p>Max amount: {{ min_max.max_amount }}</p>
  <p>Average amount: {{ avg.avg_amount }}</p>
  <p>Max Avg diff amount: {{ max_avg_diff.amount_diff }}</p>

  <h6>Categories with number of items</h6>
  <ul>
    {% for category in categories_with_items_count %}
      <li>Category | {{ category.name }} | has <b>{{ category.num_items }} item{{ category.num_items|pluralize }}</b></li>
    {% endfor %}
  </ul>

  <h6>Categories with number of items above and below 20</h6>
  <ul>
    {% for category in above_below_20 %}
      <li>
        Category {{ category.name }} has <b>{{ category.above_20 }}</b> items with price above 20 and 
        <b>{{ category.below_20 }}</b> items with price below 20
      </li>
    {% endfor %}
  </ul>

  <h6>Top 3 Categories by number of items</h6>
  <ul>
    {% for category in top_3_categories_by_item_count %}
      <li>
        Category {{ category.name }} has <b>{{ category.num_items }}</b> item{{ category.num_items|pluralize }}
      </li>
    {% endfor %}
  </ul>

{% endblock content %}